<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" default-activation="eager">

	<service ref="monitorRegister" interface="com.athaydes.osgimonitor.api.MonitorRegister" />

	<bean id="monitorRegister" class="com.athaydes.osgimonitor.impl.JavaMonitorRegister">
		<argument ref="blueprintBundleContext"/>
	</bean>

</blueprint>